@model List<WebApplication2.Models.emp>
@{
    ViewBag.Title = "index";
    int ID = 0;
}

<style>
    table, td {
        border-block-color: red;
        font-size: 12px;
        color: green;
    }

    th {
        font-size: 18px;
    }
</style>
<a href="@Url.Action("Create")">Create Form</a>
<h2>Table</h2>
<br />
<br />
<table class="table" border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var data in Model)
    {
        <tr>
            <td>@(++ID)</td>
            <td>@(data.name)</td>
            <td>@(data.address)</td>
            <td>@(data.contact)</td>
            <td><a href="@Url.Action("Edit", new { id=data.id})">Edit</a></td>
            <td> <a href="@Url.Action("Delete",new {id=data.id})">Delete</a></td>
        </tr>
    }
</table>

